.add-todo-button {
  /* position:fixed 는 todos목록이 길어지더라도 그것과 상관없이 해당 자리에 계속 있게 하는것. */
  position: fixed;
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 5rem;
  color: #f67280;
}
